<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}TV Schedule{% endblock %}</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'turn_on_tv' %}">Turn TV on</a></li>
            <li><a href="{% url 'turn_off_tv' %}">Turn TV off</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>

</html>