{% extends 'base.html' %}

{% block content %}
<h2>TV Schedule</h2>
<table>
    <thead>
        <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in tv_schedules %}
        <tr>
            <td>{{ schedule.start_time }}</td>
            <td>{{ schedule.end_time }}</td>
            <td>{% if schedule.status %}On{% else %}Off{% endif %}</td>
            <td>
                {% if not schedule.status %}
                <a href="{% url 'tv_schedule:turn_on_tv' pk=schedule.pk %}">Turn On</a>
                {% else %}
                <a href="{% url 'tv_schedule:turn_off_tv' pk=schedule.pk %}">Turn Off</a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No TV schedules found.</td>
        </tr>
        {%}